Q1. Create one variable containing following type of data:

(i)   string
(ii)  list
(iii) float
(iv)  tuple

In [10]:
a = "pranjal"
b = [1, 2, 3, 4, 5]
c = 5.5
d = (1, 2, 3, 4, 5)

Q2. Given are some following variables containing data:

(i)	  var1 = ' '
(ii)  var2 = '[DS, ML, Python]'
(iii) var3 = ['DS', 'ML', 'Python']
(iv)  var4 = 1.

What will be the data type of the above given variables ?

(i)   var1 is a string.
(ii)  var2 is also a string.
(iii) var3 is a list.
(iv)  var4 is a float point number.

Q3. Explain the use of the following operators using an example:

(i)	  /
(ii)  % 
(iii) //
(iv)  **

(i) '/'  -> Divides the first operand by the second operand, this operator gives always a float number, no matter if two numbers are integers.

In [15]:
5/2

2.5

(ii) '%'  -> It returns the remainder when the first operand is divided by the second operand.

In [16]:
5%2

1

(iii) '//' -> Divides the first operand by the second operand and rounds the result down to the nearest integer.

In [17]:
5//2

2

(iv) '**' -> It calculates the first operand's power to the second operand, it is an exponent operator.

In [18]:
5**2

25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [3]:
a = [9, 5.5, "pranjal", True, [1, 2], (1, 2), {1, 2}, {}, 96, False]

for i in a:
    print(i)
    print(type(i))
    print()

9
<class 'int'>

5.5
<class 'float'>

pranjal
<class 'str'>

True
<class 'bool'>

[1, 2]
<class 'list'>

(1, 2)
<class 'tuple'>

{1, 2}
<class 'set'>

{}
<class 'dict'>

96
<class 'int'>

False
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
a = int(input("a : "))
b = int(input("b : "))

x = a
count = 0

while (a % b == 0):
    a = a / b
    count = count + 1

if count > 0:
    print(f"{x} is divisible by {b}, {count} times.")

else:
    print(f"{x} is not divisible by {b}.")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [1]:
list = [11, 2, 31, 5, 6, 8, 4, 90, 9, 234, 12, 68, 34, 56, 78, 906, 43, 42, 55, 21, 132, 23, 81, 55, 32]

for i in list:

    if (i%3 == 0):
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

11 is not divisible by 3.
2 is not divisible by 3.
31 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
8 is not divisible by 3.
4 is not divisible by 3.
90 is divisible by 3.
9 is divisible by 3.
234 is divisible by 3.
12 is divisible by 3.
68 is not divisible by 3.
34 is not divisible by 3.
56 is not divisible by 3.
78 is divisible by 3.
906 is divisible by 3.
43 is not divisible by 3.
42 is divisible by 3.
55 is not divisible by 3.
21 is divisible by 3.
132 is divisible by 3.
23 is not divisible by 3.
81 is divisible by 3.
55 is not divisible by 3.
32 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

-> A datatype that allows us to change its values without changing its identity is a mutable datatype.

In [2]:
p = [1, 3, 52, True, 7+7j, "Pranjal"]

p[0] = 10000
print(p)

[10000, 3, 52, True, (7+7j), 'Pranjal']

-> A datatype that doesn't allow changes in its value is an immutable datatype.

In [3]:
l = 'Pranjal'
l[3] = 'u'
print(l)

TypeError: 'str' object does not support item assignment